.flex-column{
  display: flex;
  flex-direction: column;

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;

    a {
      align-self: flex-end;
      margin-bottom: 10px;
    }
  }

}

.flex-row{
  display: flex;
  flex-direction: row;

  &-left {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-right {
    justify-content: flex-end;

    a {
      align-self: flex-end;
      margin-bottom: 10px;
    }
  }

}
