.m {
  &t {
    &-1 {
      margin-top: 10px;
    }

    &-2 {
      margin-top: 20px;
    }

    &-4 {
      margin-top: 40px;
    }
  }

  &b {
    &-1 {
      margin-bottom: 10px;
    }

    &-2 {
      margin-bottom: 20px;
    }
  }
}
