<div class="footer">
  <div class="grid_2 footer_content">
    <div class="">
      Theme
    </div>
    <div class="grid_3">
      <div class="flex-column flex-column-right">
        <a target="_blank" href="https://github.com/AdyT14/anima-FE">
          <app-icon [iconName]="'github'"></app-icon>
          Github</a>
        <a href="assets/sitemap.xml">Contact</a>
      </div>
      <div class="flex-column flex-column-right">
        <a href="assets/sitemap.xml"><app-icon [iconName]="'info'"></app-icon>About</a>
        <a href="assets/sitemap.xml">Site Map</a>
      </div>
    </div>
  </div>
</div>
