@import "src/styles.scss";

.footer {
  background-color: $menu-background-color;
  font-size: 1rem;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  min-height: 100px;

  & a {
    color: aliceblue;
    fill: aliceblue;
  }
}

.footer_content {
  padding: 20px;
}
