@import "src/styles";

.header {
  background-color: $menu-background-color;
}

.header-logo {
  display: table;
  height: 50px;
  text-decoration: none;
  margin-left: 20px;
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin: 10px 0;
  display: table-cell;
  vertical-align: middle;
}

.logo {
  &-img {
    margin: 10px;
    width: 60px;
  }

  &-ani {
    @extend .logo-text;
    color: green;
  }

  &-ma {
    @extend .logo-text;
    color: orange;
  }
}

