@import "src/styles";

.login-failed {

  margin-top: 10px;
  text-align: center;
  color: #9c2510;
}

.login_go-to-register {
  text-align: center;
  margin-top: 20px;
  color: $primary-text-color;
}
